version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: pg_gateway
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis_gateway
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile.worker
    container_name: gateway_worker
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: redis://redis:6379
      TEST_MODE: ${TEST_MODE}
      TEST_PAYMENT_SUCCESS: ${TEST_PAYMENT_SUCCESS}
      TEST_PROCESSING_DELAY: ${TEST_PROCESSING_DELAY}
      WEBHOOK_RETRY_INTERVALS_TEST: ${WEBHOOK_RETRY_INTERVALS_TEST}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  api:
    build:
      context: ./backend
    container_name: gateway_api
    ports:
      - "${PORT}:${PORT}"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: redis://redis:6379
      PORT: ${PORT}
      TEST_MERCHANT_EMAIL: ${TEST_MERCHANT_EMAIL}
      TEST_API_KEY: ${TEST_API_KEY}
      TEST_API_SECRET: ${TEST_API_SECRET}
      TEST_MODE: ${TEST_MODE}
      TEST_PAYMENT_SUCCESS: ${TEST_PAYMENT_SUCCESS}
      TEST_PROCESSING_DELAY: ${TEST_PROCESSING_DELAY}
      UPI_SUCCESS_RATE: ${UPI_SUCCESS_RATE}
      CARD_SUCCESS_RATE: ${CARD_SUCCESS_RATE}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  dashboard:
    build:
      context: ./frontend
    container_name: gateway_dashboard
    ports:
      - "3000:80"
    depends_on:
      - api

  checkout:
    build:
      context: ./checkout-page
    container_name: gateway_checkout
    ports:
      - "3001:80"
    depends_on:
      - api

volumes:
  pg_data:
